<div id="footer"><div class="container"><div class="row">
    <div class="col-lg-4 col-lg-offset-2">
        <h4>Contacts</h4>
        <p>
            igor@loskutoff.com
            <br/>
            Skype: <a href="skype:igor.loskutoff?chat">igor.loskutoff</a>
        </p>

    </div>
    <div class="col-lg-4 col-lg-offset-2">
        <p>
            Copyright &copy; {{ site.time | date: "%Y" }}
            <br/>
            <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
        </p>
    </div>
    </div></div></div>
